
  @import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500&display=swap');



*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Sora', sans-serif;
}

.buttons{
    margin-left: 10rem;
}

#hesapla {
    padding: 0.5em ;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: #fbdedb;
    background-color: #fbdedb;
    display: inline-block;
    background: #e74c3c;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
  }

#clear{
    padding: 0.5em;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: #fbdedb;
    background-color: #fbdedb;
    display: inline-block;
    background: #e74c3c;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
}

#clear:hover,
#hesapla:hover{
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}


.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(217,223,255,1) 35%, rgba(220,249,255,1) 100%);

}

.column-left{
    display: inline-block;
    flex-direction: column;
    width: 50%;
    
}

.column-right{
    width: 50%;
}

.row-left-up{
    display: flex;
    flex-direction: row;
    margin: 20px;
    column-gap: 10px;
}
.row-left-down{
    display: flex;
    flex-direction: row;
    margin: 20px;
    column-gap: 10px;
}

.row-down{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin: 20px;


}

.column-right-image {
    width: 30%;
    height:50vh;
    float: right;
    
}
img{
    height: 20rem;
    width: 20rem;
    display: none;
}

